.filepond--root {

    &[data-style-panel-layout~='circle'] {
        
        .filepond--action-select-item {
            opacity:1 !important;
            visibility: visible !important;
        }

    }

}