.filepond--action-select-item.filepond--action-select-item {
    width:2em;
    height:2em;
    padding:.1875em;

    &[data-align*='center'] {
        margin-left:-.1875em;
    }
    
    &[data-align*='bottom'] {
        margin-bottom:-.1875em;
    }
}

.filepond--action-select-item-alt {
    border: none;
    line-height: inherit;
    background: transparent;
    font-family: inherit;
    color: inherit;
    outline: none;
    padding: 0;
    margin: 0 0 0 .25em;
    pointer-events: all;
    position: absolute;

    svg {
        width: 1.3125em;
        height: 1.3125em;
    }

    span {
        font-size: 0;
        opacity: 0;
    }
}

.filepond--action-select-item svg {
	padding: 4px;
}

.filepond--action-check-item {
    background-color: rgba(20, 151, 97, 70%);
}